:root{
  --main-yellow: #f2b33d;
  --main-beige: #eeece4;
  --main-darkbeige: #aaa79f;
  --main-black: #111111;
}
body {
    background: var(--main-beige);
}
.banner {
    background: var(--main-yellow);
    width: 100%;
    height: 450px;
    display: block;
    line-height: 0;
    overflow: hidden;
}
.banner .cats {
    position: relative;
    top: -3em;
    background: url(https://redj7622.github.io/image/web_banner.svg) center no-repeat;
        background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
}
.banner .flower {
    position: absolute;
    animation:float 1.2s infinite alternate;
    width: 100%;
}
@keyframes float {
  from{transform: translateY(-10px);}
  to{transform: translateY(-15px);}
}
.list {
    color: var(--main-black);
    position: fixed;
    right: 7%;
    top: 0;
    writing-mode: vertical-rl;
    padding: 1em 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    list-style: none;
        list-style-type: none;
    list-style-type: none;
    z-index: 2;
    letter-spacing: 0;
}
.list li {
    float: left;
    padding: 5px 3px 5px 0;
    line-height: 35px;
    transition: all 200ms ease-in-out;
}
.list li:hover {
    color: #ffffff;
    background: var(--main-black);
    float: left;
    transition: all 200ms ease-in-out;
    
}
.list li:nth-child(even) {
    content: "";
    border-right: 2px solid var(--main-black);
    height: 50px;
    margin: 5px 19px 5px 0;
}
/*text*/
.white {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.yellow{
    color: var(--main-yellow);
    font-size: 18px;
}
.yellow_title {
    font-size: 5em;
    font-weight: 900;
    color: var(--main-yellow);
    font-family: 'Roboto', sans-serif;
}
.works_title {
    margin-top: 1em;
}
.works_title::after {
    content: "";
    border-top: 2px solid var(--main-yellow);
    display: block;
    width: 100%;
}
.ipad {
    display: none;
}
.m {
    display: none;
}
.clear {
    clear: both;
}
body {
    max-width: 1500px;
    border: none;
    outline: unset;
    margin: auto;
}
body .wrapper { 
    width:100%;
    max-width:1200px;
    margin:auto;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    clear: both;
} 
 body .wrapper *{
    box-sizing:border-box; 
 }
 body .wrapper a {
    color: inherit;
    text-decoration: none;
 }
.wrapper h1 {
    font-size: 1.6em;
    line-height: 1.2;
    border-bottom: none;
    padding-bottom: unset;
    margin: auto;
    font-weight: 600;
}
body .wrapper2 { 
 width:100%;
 max-width:1200px;
 margin:auto;
 font-size:16px;
 color: var(--main-black);
 clear: both;
 background: #ffffff;
 position: relative;
 top:-7em;
 padding: 9em 5em 4em;
 position: relative;
} 

.one {
    width: 100%;
    max-width: 1100px;
    margin: -6em 0 0;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.yellow_circle {
    float: left;
    width: 200px;
    margin: auto 1em auto 3em;
}
.info {
    float: left;
    width: 70%;
    padding-top: 20px;
}
.greeting {
    font-size: 1.2em;
}
.contacts_top {
    margin-top: 2em;
}

.yellow_icon {
    width: 35px;
    height: 35px;
    background: var(--main-yellow);
    border-radius: 50%;
    float: left;
    transition: all 300ms ease-in-out;
}
.yellow_icon:hover {
    background: var(--main-black);
    transition: all 300ms ease-in-out;
}
.profile {
    line-height: 20px;
}
.my_account {
    float: left;
    height: 35px;
    padding: 7px 3em 0 5px;
    font-weight: normal;
}
/*summary*/
.summary_1 {
    float: left;
    width: 50%;
}
.summary_2 {
    float: right;
    width: 45%;
    padding-left: 1em;
}
.summary_title {
    color: var(--main-yellow);
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}
.item_title {
    font-weight: bold;
}
.summary_content {
    margin-bottom: 1em;
    line-height: 25px;
}

.item {
    padding-left: 10px;
    border-left: 2px solid var(--main-yellow);
}
.year {
    font-weight: bold;
    font-size: 1.1em;
}
.notes {
    color: var(--main-darkbeige);
    font-size: 14px;
}
.tool {
    width:90px;
    float: left;
    text-align: center;
    font-size: 12px;
}
.tool img {
    width: 60px;
}
/*logo*/
.logos {
    margin-top: 3em;
}
.logos img {
    width: 10%;
    margin: auto 1%;
}
/*works*/
.work_cover {
    width: 32%;
    height: 200px;
    text-align: center;
    float: left;
    color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    transition: all 300ms ease-in-out;
}
.cover_left {
    margin: 1em 1% 1em 0;    
}
.cover_middle {
    margin: 1em 1%;
}
.cover_right {
    margin: 1em 0 1em 1%;  
    float: right;  
}
.work_cover:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    transition: all 300ms ease-in-out;
}
.work_text {
    width: 100%;
    background: rgba(255, 204, 51, 0.7);
    height: 60px;
    margin-top: 4em;
    padding-top: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7 );
    letter-spacing: 1px;
    line-height: 20px;
}
.cover_title {
    font-weight: bold;
    font-size: 1.5em;
}
.cover01 {
    background-image: url(https://redj7622.github.io/image/works/cover-01.jpg);
}
.cover02 {
    background-image: url(https://redj7622.github.io/image/works/cover-02.jpg);
}
.cover03 {
    background-image: url(https://redj7622.github.io/image/works/cover-03.jpg);
}
.cover04 {
    background-image: url(https://redj7622.github.io/image/works/cover-04.jpg);
}
.cover05 {
    background-image: url(https://redj7622.github.io/image/works/cover-05.jpg);
}
.cover06 {
    background-image: url(https://redj7622.github.io/image/works/cover-06.jpg);
}
.cover07 {
    background-image: url(https://redj7622.github.io/image/works/cover-07.jpg);
}
.cover08 {
    background-image: url(https://redj7622.github.io/image/works/cover-08.jpg);
}
.cover09 {
    background-image: url(https://redj7622.github.io/image/works/cover-09.jpg);
}
/*ending*/
.ending {
    margin: 2em auto 0;
    text-align: center;
    line-height: 20px;
}
.ending img {
    width: 280px;
}
.thankyou_title {
    font-size: 1.2em;
    font-weight: bold;
}
/*footer*/
.contact_bottom {
    width: 100%;
    padding: 15px 0;
    background: var(--main-yellow);
    margin: -7em auto 0;
    position: relative;
}
.contact_bottom_icons {
    width: 760px;
    margin: auto;
}
.icon_bottom {
    width: 35px;
    height: 35px;
    background: var(--main-black);
    border-radius: 50%;
    float: left;
    transition: all 300ms ease-in-out;

}
.copyright {
    font-size: 0.8em;
    color: var(--main-darkbeige);
    text-align: center;
    margin: 2em auto;
}
/*---------------------------------------*/
@media screen and (max-width: 1300px) {
.list {
    right: 2%;
}
}
/*---------------------------------------*/
@media screen and (max-width: 1200px) {
body .wrapper {
    width: 90%;
}
body .wrapper2 {
    font-size: 15px;
    top: -120px;
    padding: 9em 3em 3em;
}
.banner {
    height: 400px;
}
.banner .cats {
    top: -3em;
    height: 400px;
}
.list {
    right: 50px;
    font-size: 24px;
}
.one {
    max-width: 950px;
}
 .wrapper::before {
    width: 70%;
    top: 145px;
}
 .wrapper h1 {
    font-size: 1.3em;
    line-height: 1.2;
}
.yellow_circle {
    margin: auto 1em auto 2em;
}
.my_account {
    padding: 10px 1em 0 10px;
    font-size: 15px;
}
/*summary*/
.summary_content {
    margin-bottom: 1em;
    line-height: 20px;
}
.tool {
    width: 18%;
    letter-spacing: 0;
    font-size: 11px;
}
.tool img {
    width: 70%;
}
/*works*/
.work_cover {
    height: 170px;
    background-size: cover;
}
/*footer*/
.contact_bottom {
    margin: -8em auto 0;
    padding: 10px 0;
}
.contact_bottom_icons {
    width: 620px;
}
}
/*---------------------------------------*/
@media screen and (max-width: 1024px) {
.banner .cats {
    top: -4em;
}
@keyframes float {
  from{transform: translateY(15px);}
  to{transform: translateY(10px);}
}
.list {
    font-size: 18px;
    writing-mode: unset;
    right: 60px;
    top: -15px;
}
.list li {
    padding: 0 5px;
}
.list li:nth-child(even) {
    content: "";
    border-right: none;
    height: 0;
    margin: 15px 5px 0;
    border-top: 2px solid var(--main-black);
    width: 40px;
}
}
/*---------------------------------------*/
@media screen and (max-width: 800px) {
.ipad {
     display:block;
}
.pc {
     display:none;
}
.banner {
    height: 300px;
}
.banner .cats {
    top: -3em;
    height: 300px;
}
body .wrapper2 {
    top: -95px;
    padding: 8em 3em 5em;
    letter-spacing: 0px;
}
 .wrapper h1 {
    font-size: 1.3em;
    font-weight: 500;
}
.greeting {
    font-size: 1em;
    letter-spacing: 0px;
}
.my_account {
    padding: 5px 10px 0 5px;
    font-size: 13px;
}
.one {
    margin: -4.5em auto 0;
}
.profile {
    font-size: 15px;
}
.info {
    width: 60%;
    padding-top: 10px;
    font-weight: bold;
  }
.yellow_circle {
    width: 150px;
    margin: auto 1em auto 1em;
}
.yellow_icon {
    width: 25px;
    height: 25px;
}
.contacts_top {
    margin-top: 35px;
}

/*summary*/
.tool {
    width: 20%;
    font-size: 10px;
}
.tool img {
    width: 80%;
}
.notes {
    font-size: 12px;
}
/*works*/
.work_cover{
    height: 125px;
    background-size: cover;
    background-position: center;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    border-radius: 5px;
}
.work_text {
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    height: 45px;
}
.contact_bottom {
    padding: 10px 0 0;
}
.contact_bottom_icons {
    width: 500px;
}
.cover_left {
    margin: 1em 1% 0 0;    
}
.cover_middle {
    margin: 1em 1% 0;
}
.cover_right {
    margin: 1em 0 0 1%;  
    float: right;  
}
.icon_bottom {
    width: 25px;
    height: 25px;
}
.ending img {
    width: 230px;
}
}
/*---------------------------------------*/
@media screen and (max-width: 700px) {
.list {
    top: -10px;
}
}
/*---------------------------------------*/
@media screen and (max-width: 480px) {
.ipad { display: none; }
body .wrapper2 {
    top: -178px;
    padding: 13em 1em 5em;
}
.banner {
    height: 250px;
}
.banner .cats {
    top: -3.5em;
    height: 250px;
    background: url(https://redj7622.github.io/image/m_banner.svg) center no-repeat;
}
.flower {
    display: none;
}
.list {
    display: none;
}
.yellow_title {
    font-size: 3em;
    text-align: center;

}
.one {
    margin: -8em auto 0;
}
.yellow_circle {
    float: none;
    margin: auto;
}
.info {
    width: 100%;
    padding-top: 5px;
    text-align: center;
  }

.my_account {
    display: none;
}
.contacts_top {
    margin: 12px auto 0;
    width: 250px;
}
.yellow_icon {
    width: 30px;
    height: 30px;
    margin: auto 6%;
}
.icon_bottom {
    width: 30px;
    height: 30px;
    margin: auto 6%; 
}
/*summary*/
.summary {
    margin-top: 2em;
}
.summary_content {
    line-height: 18px;
}
.summary_1 {
    float: none;
    width: 100%;
}
.summary_2 {
    float: none;
    width: 100%;
    padding-left: 0;
}
.year {
    font-size: 1em;
}
.item {
    margin-left: 13px;
}
.tool {
    margin-bottom: 1em;
}
.ending img {
    width: 200px;
}
/*works*/
.work_cover {
    height: 150px;
    float: none;
    width: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.1);
}
.work_text {
    height: 45px;
    margin-top: 0;
    background: rgba(255, 204, 51, 0.8);
    top: 5em;
    position: relative;
}
.cover_title {
    font-size: 1.8em;
    width: 100%;
    position: relative;
}
.cover_left, .cover_middle, .cover_right {
    margin: 2em auto 0;    
}
.contact_bottom_icons {
    width: 250px;
}
.contact_bottom {
    margin: -13em auto 0;
    padding: 10px 0;
}

}
