:root{
  --main-yellow: #f2b33d;
  --main-beige: #eeece4;
  --main-darkbeige: #aaa79f;
  --main-black: #111111;
}
body {
    background: var(--main-beige);
}
/*back*/
.back_bt {
    background: var(--main-yellow);
    color: #ffffff;
    width: 35px;
    height: 150px;
    position: fixed;
    right: 10%;
    top: 0;
    transition: all 300ms ease-in-out;
    writing-mode: vertical-lr;
    text-align: end;
    line-height: 32px;
    padding: 0 0 1em 0;
}
.back_bt:hover {
    background: var(--main-black);
    height: 200px;
    transition: all 200ms ease-in-out;
}
/*text*/
.yellow_title {
    font-size: 5em;
    font-weight: 900;
    color: var(--main-yellow);
    font-family: 'Roboto', sans-serif;
}
.works_title2 {
    position: relative;
    top: -40px;
}
.works_title2::after {
    content: "";
    border-top: 2px solid var(--main-yellow);
    display: block;
    width: 60%;
}
.right_box .works_title2::after, .left_box .works_title2::after {
    width: 100%;
}

.ipad {
	display: none;
}
.m {
	display: none;
}
.clear {
	clear: both;
}
body {
    max-width: 1500px;
    border: none;
    outline: unset;
    margin: auto;
}
body .wrapper_works { 
    width:100%;
    max-width:1200px;
    margin:auto;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    clear: both;
    background: #ffffff;
    margin: 8em auto auto;
} 
 body .wrapper_works * {
 	box-sizing:border-box; 
 }
 body .wrapper_works a {
 	color: inherit;
 	text-decoration: none;
 }
body .wrapper_works img {
    width: 100%;
}
.my_account {
    float: left;
    height: 35px;
    padding: 10px 3em 0 5px;
    font-weight: normal;
}

.summary_title {
	color: var(--main-yellow);
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
.item_title {
	font-weight: bold;
}
.works_content {
    width: 100%;
    padding: 0 5em;
    margin-top: -2em;
}
.works_text {
    line-height: 20px;
}
/*footer*/
.contact_bottom {
    width: 100%;
    padding: 15px 0;
    background: var(--main-yellow);
    margin: 2em auto 0;
    position: relative;
}
.contact_bottom_icons {
    width: 760px;
    margin: auto;
}
.icon_bottom {
    width: 35px;
    height: 35px;
    background: var(--main-black);
    border-radius: 50%;
    float: left;
    transition: all 300ms ease-in-out;

}
.copyright {
    font-size: 0.8em;
    color: var(--main-darkbeige);
    text-align: center;
    margin: 2em auto;
    font-family: 'Karla', sans-serif;
}

.yellow {
    color: var(--main-yellow);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.left_box {
    width: 50%;
    float: left;
    margin-bottom: 1em;
    padding-right: 0.5em;
}
.right_box {
    width: 50%;
    float: right;
    margin-bottom: 1em;
    padding-left: 0.5em;
}
.full_box {
    width: 100%;
    margin-bottom: 1em;
}
/*more*/
.more_bt {
    text-align: center;
    color: #ffffff;
    background: var(--main-black);
    transition: all 300ms ease-in-out;
    width: 150px;
    height: 150px;
    margin: 3em auto;
    line-height: 22px;
    font-weight: normal;
    border-radius: 50%;
    padding-top: 56px;
}
.more_bt:hover {
    background: var(--main-yellow);
    transition: all 300ms ease-in-out;
}
.more_bt:active {
    background: var(--main-yellow);
}
/*flip 9*/
.clilk_info {
    font-weight: bold;
    margin-bottom: 1em;
    font-size:20px;
}
.flip-boxes {
    clear: both;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.flip-box {
    width: 33.33%;
    float: left;
    position: relative;
    cursor: pointer;
}
.flip-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.my-card{
  width:100%;
  position:relative;
  
}
.card_content{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,.back{
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #fff;
  text-align: center;
  font-size: 30px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
}

.card_content.is-flipped {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

/*---------------------------------------*/
@media screen and (max-width: 1200px) {
.back_bt {
    right: 5em;
}
body .wrapper_works {
    width: 90%;
}
body .wrapper2 {
    font-size: 15px;
    top: -120px;
    padding: 0 3em;
}

.my_account {
    padding: 10px 1em 0 10px;
    font-size: 15px;
}

/*footer*/
.contact_bottom {
    padding: 10px 0;
}
.contact_bottom_icons {
    width: 620px;
}
}
/*---------------------------------------*/
@media screen and (max-width: 812px) {
body .wrapper_works {
    letter-spacing: 0px;
}
.back_bt {
    width: 180px;
    height: 35px;
    right: 0;
    top: 1em;
    writing-mode: horizontal-tb;
    text-align: left;
    line-height: 35px;
    padding: 0 0 0 1em;
}
.back_bt:hover {
    height: 35px;
    transition: all 300ms ease-in-out;
}
.back_bt:active {
    height: 35px;
    transition: all 300ms ease-in-out;
    background: var(--main-black); 
}
.ipad {
	 display:block;
}
.pc {
	 display:none;
}
body .wrapper_works {
    margin: 6em auto auto;
}
.works_title2 {
    top: -26px;
}
.works_content {
    padding: 0 2em;
}
.works_text {
    font-size: 16px;
}
.my_account {
    padding: 5px 10px 0 5px;
    font-size: 13px;
}
.works_title2::after {
    width: 100%;
}
.yellow_title {
    font-size: 3.5em;
}
.info {
    width: 60%;
    padding-top: 10px;
    font-weight: bold;
  }
.notes {
	font-size: 12px;
}

.contact_bottom {
    padding: 10px 0 0;
}
.cover_left {
    margin: 1em 1% 0 0;    
}
.cover_middle {
    margin: 1em 1% 0;
}
.cover_right {
    margin: 1em 0 0 1%;  
    float: right;  
}
.icon_bottom {
    margin: auto 10%; 
}
.icon_bottom {
    width: 25px;
    height: 25px;
}
.web_content {
    margin-top: 3em;
}
}
/*-------*/
@media screen and (max-width: 768px) {
.info {
    width: 100%;
    padding-top: 5px;
    text-align: center;
  }

.my_account {
    display: none;
}


.contact_bottom {
    padding: 10px 0;
}
}
/*---------------------------------------*/
@media screen and (max-width: 480px) {
.back_bt {
    width: 135px;
    height: 27px;
    line-height: 27px;
    font-size: 15px;
    position: absolute;
    top: 0.5em;
}
.back_bt:hover {
    height: 27px;
    background: var(--main-black); 
}
.back_bt:active {
    height: 27px;
    background: var(--main-black); 
}
.ipad { display: none; }
.pc2 {
     display:none;
}
.m {display: block;}

.yellow {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
.works_content {
    padding: 0 1em;
}
.works_text {
    padding-left: 0;
    font-size: 15px;
}
.yellow_title {
    font-size: 2em;
    line-height: 25px;
}
.works_title2 {
    top: -15px;
}
.works_title2::after {
    margin-top: 10px;
}
.works_title3 {
    top: 0;
}

.left_box,.right_box {
    width: 100%;
    float: none;
    margin-top: 1em;
    padding:0;
}
/*flip 9*/
.clilk_info {
    text-align: center;
    font-size:18px;
}
.flip-boxes {
    clear: both;
    width: 100%;
    margin: auto;
}

.flip-box {
    width: 100%;
    float: none;
    margin: auto;
}
.icon_bottom {
    width: 30px;
    height: 30px;
    margin: auto 6%; 
}
.contact_bottom_icons {
    width: 250px;
}
}
